body {
    background-color: #2d2d30;
    font-family: "Roboto Mono", monospace;
    margin: 0px;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app h2 {
    color: white;
}

.app p {
    margin-top: 25px;
    color: white;
}

.app p a{
    text-decoration: underline;
    color: white;
}

.display {
    border: 2px solid white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    word-wrap: break-word;
    margin-bottom: 15px;
    gap: 15px;
    padding: 15px;
    min-height: 80px;
}

.display .prevText {
    min-height: 18px;
    margin: 0px;
    font-size: 1em;
    color: grey;
}

.display .currentText {
    color: white;
    min-height: 30px;
    margin: 0px;
    font-size: 1.6em;
}

.calculator {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 2px solid white;
    width: 300px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.buttons .rows {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.buttons .special-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.buttons .special-row button {
    background-color: red;
    border: 2px solid white;
    color: white;
    font-size: 1.2em;
    width: 100%;
    height: 60px;
}

.buttons .special-row button:hover {
    background-color: rgb(94, 4, 4);
    color: black;
}

.buttons .rows button {
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 2px solid white;
    color: #FFFFFF;
    font-size: 1.2em;
}

.buttons .rows button:hover {
    background-color: white;
    color: black;
}